*.bin
*cache*
*Cache*
*Cookies*
*cookie*
*Token*
*token*
*languagepack*
*.db
.env*
*storage*
*Storage*
*database*
*.log
*tmp
*.tmp*
*trash
*runtime
*LOG
node_modules/
.DS_Store
Trash
nohup.*
...*


build/
.docusaurus/
static/favicon/*
static/img/icon-SiGoogledrive.svg
static/img/icon-note.svg